<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>cool_notes</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_build_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_build_NUMBER)</string>
		<key>LSReqpresentationresIPhoneOS</key>
		<true/>
		<key>presentationLaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>presentationMainStoryboardFile</key>
		<string>Main</string>
		<key>presentationSupportedInterfaceOrientations</key>
		<array>
			<string>presentationInterfaceOrientationPortrait</string>
			<string>presentationInterfaceOrientationLandscapeLeft</string>
			<string>presentationInterfaceOrientationLandscapeRight</string>
		</array>
		<key>presentationSupportedInterfaceOrientations~ipad</key>
		<array>
			<string>presentationInterfaceOrientationPortrait</string>
			<string>presentationInterfaceOrientationPortraitUpsideDown</string>
			<string>presentationInterfaceOrientationLandscapeLeft</string>
			<string>presentationInterfaceOrientationLandscapeRight</string>
		</array>
		<key>presentationViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Allow access to photo library</string>
		<key>NSCameraUsageDescription</key>
		<string>Allow access to camera to capture photos</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Allow access to microphone</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Why is my app authenticating using face id?</string>
		<key>presentationStatusBarHidden</key>
		<false/>
	</dict>
</plist>